@import "tailwindcss";

@theme {
  --color-primary-50: #fff1f0;
  --color-primary-100: #ffe1de;
  --color-primary-200: #ffc7c2;
  --color-primary-300: #ffa198;
  --color-primary-400: #ff6b5e;
  --color-primary-500: #ff4528;
  --color-primary-600: #ed2e0f;
  --color-primary-700: #c8210a;
  --color-primary-800: #a51f0c;
  --color-primary-900: #881f10;

  --radius: 0.5rem;
}

